@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900; /* PretendardVariable은 가변 폰트라서 범위를 지정 */
  font-style: normal;
}

body {
  font-family: 'Pretendard', Arial, sans-serif;
}
